.lionair-navlink {
    color: #ffffff !important;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
}

.navbar-nav > li {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar {
    padding: 0px;
}

.logo {
    width: 60px;
    height: 60px;
}
