@page
@{
    Layout = "/Views/Shared/_StaffLayout.cshtml";
    ViewData["Title"] = "DisplayAircraft";
}
    <div class="container">
        <h1>Aircraft Assignment</h1>
        <div class="aircraft-details mx-auto">
            <h3>
                Aircraft : 1</h6>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">Model Name</th>
                            <td>Airbus 380</td>
                        </tr>
                        <tr>
                            <th scope="row">Business class seats</th>
                            <td>100</td>
                        </tr>
                        <tr>
                            <th scope="row">Economy class seats</th>
                            <td>200</td>
                        </tr>
                    </tbody>
                </table>

                <form>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Flight schedule</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <!-- autofill -->
                        </select>
                    </div>
                </form>
        </div>
    </div>