@model WEB2020Apr_P01_T4.Models.Aircraft
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create Aircraft";
}
    <div class="container">
        <div class="row">
            <div class="col-4" style="color:#8A84E2;">
                <h1>Create Aircraft</h1>
            </div>
            <div class="col-8">
                <form asp-action="CreateAircraft">
                    <div class="form-group row">
                        <label asp-for="AircraftModel">Model Name</label>
                        <select class="form-control" asp-for="AircraftModel" asp-items="@ViewData["ModelList"] as List<SelectListItem>">
                        </select>
                        <span asp-validation-for="AircraftModel"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="NumBusinessSeat">Number of business seats  </label>
                        <input class="form-control" asp-for="NumBusinessSeat">
                        <span asp-validation-for="NumBusinessSeat"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="NumEconomySeat">Number of economy seats </label>
                        <input class="form-control" asp-for="NumEconomySeat">
                        <span asp-validation-for="NumEconomySeat"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group row" >
                        <label asp-for="DateLastMaintenance">Date of last maintenance</label>
                        <input class="form-control selector" type="date" id="maintenanceDate" name="maintenanceDate" asp-for="DateLastMaintenance">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
<script>
    //ensures that date picker max date is today

    datePickerId = document.getElementById("maintenanceDate")
    datePickerId.max = new Date().toISOString().split("T")[0];
</script>