@model WEB2020Apr_P01_T4.Models.Aircraft
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create Aircraft";
    var type = "date";
}
    <div class="container">
        <div class="row">
            <div class="col-4" style="color:#8A84E2;">
                <h1>Create Aircraft</h1>
            </div>
            <div class="col-8">
                <form asp-action="CreateAircraft">
                    <div class="form-group row">
                        <label asp-for="AircraftModel">Model Name</label>
                        <select class="form-control" asp-for="AircraftModel" asp-items="@ViewData["ModelList"] as List<SelectListItem>">
                        </select>
                    </div>
                    <div class="form-group row">
                        <label asp-for="NumBusinessSeat">Number of business seats  </label>
                        <input class="form-control" asp-for="NumBusinessSeat" />
                    </div>
                    <div class="form-group row">
                        <label asp-for="NumEconomySeat">Number of economy seats </label>
                        <input class="form-control" asp-for="NumEconomySeat">

                    </div>
                    <div class="form-group row">
                        <label asp-for="DateLastMaintenance">Date of last maintenance</label>

                        @Html.EditorFor(m => m.DateLastMaintenance, new { htmlAttributes = new { @class = "form-control maintenanceDate" , @type = type } })
                        @*<input class="form-control selector" type="datetime-local" id="maintenanceDate" name="maintenanceDate" asp-for="DateLastMaintenance" value="@DateTime.Now">*@
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>

                    <!--hidden value , default is operational for status-->
                    <div class="form-group row">
                        <input class="form-control" asp-for="Status" value="Operational" type="hidden">
                    </div>

                </form>
            </div>
        </div>
    </div>
<script>
    //ensures that date picker max date is today
    datePickerId = document.getElementById("DateLastMaintenance")
    datePickerId.max = new Date().toISOString().split("T")[0];
</script>