@model WEB2020Apr_P01_T4.Models.Aircraft
@{
    Layout = "/Views/Shared/_StaffLayout.cshtml";
    ViewData["Title"] = "DisplayAircraft";
}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h1>Create Aircraft</h1>
            </div>
            <div class="col-8">
                <form asp-action="CreateAircraft">
                    <div class="form-group">
                        <label asp-for="AircraftModel" >Model Name</label>
                        <select class="form-control" asp-for="AircraftModel" asp-items="@ViewData["ModelList"] as List<SelectListItem>" >
                  
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumBusinessSeat">Number of business seats  </label>
                        <input class="form-control" asp-for="NumBusinessSeat">
                    </div>
                    <div class="form-group">
                        <label asp-for="NumEconomySeat">Number of economy seats </label>
                        <input class="form-control" asp-for="NumEconomySeat">
                    </div>
                    <div class="form-group">
                        <label asp-for="DateLastMaintenance">Date of last maintenance</label>
                        <input type="date" id="maintenanceDate" name="maintenanceDate" asp-for="DateLastMaintenance">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
