@model WEB2020Apr_P01_T4.Models.Aircraft

@{
    Layout = "/Views/Shared/_StaffLayout.cshtml";
    ViewData["Title"] = "Update Aircraft";
}
<div class="container">
    <h1>Update Aircraft Status</h1>
    <div class="aircraft-details mx-auto">
        <h3> Aircraft : @Model.AircraftID</h3>
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <th scope="row">Model Name</th>
                    <td> @Model.AircraftModel</td>
                </tr>
                <tr>
                    <th scope="row">Last date of maintenance</th>
                    <td> @Model.DateLastMaintenance</td>
                </tr>
            </tbody>
        </table>

        <form asp-action="UpdateAircraft">
            <div class="form-group row">
                <label asp-for="AircraftID"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="AircraftID" readonly
                           class="form-control-plaintext" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AircraftModel"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="AircraftModel" readonly
                           class="form-control-plaintext" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="DateLastMaintenance"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="DateLastMaintenance" readonly
                           class="form-control-plaintext" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Status">Status</label>
                <select class="form-control" asp-for="Status" asp-items="@ViewData["statusList"] as List<SelectListItem>">
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>