@model WEB2020Apr_P01_T4.Models.Aircraft

@{
    Layout = "/Views/Shared/_StaffLayout.cshtml";
    ViewData["Title"] = "Update Aircraft";
}
<div class="container">
    <h1>Update Aircraft Status</h1>
    <div class="aircraft-details mx-auto">
   
        <form asp-action="UpdateAircraft">
            <div class="form-group row">
                <label asp-for="AircraftID"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="AircraftID" readonly
                           class="form-control-plaintext" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AircraftModel"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="AircraftModel" readonly
                           class="form-control-plaintext" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="DateLastMaintenance"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="DateLastMaintenance" readonly
                           class="form-control-plaintext" />
                </div>
            </div>
   
            <div class="form-group row">
                <label asp-for="Status">Set Status : </label>
                <select class="form-control" asp-for="Status" asp-items="@ViewData["statusList"] as List<SelectListItem>">
                </select>
                <span asp-validation-for="Status"
                      class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>

        </form>
    </div>
</div>