@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lion Air</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar_style.css" />
    <link rel="stylesheet" href="~/css/airportcodes.css" />
</head>

<body>
    <header>
        @HttpContextAccessor.HttpContext.Session.GetString("Role");
        @await Html.PartialAsync("_HomePageNav.cshtml")

    </header>
    <div">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        </div>

        <footer class="border-top small text-right text-muted">
            <p style="padding-right:15px; padding-top: 5px">
                &copy; 2020 - WEB2020Apr_P01_T4 - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </p>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
</body>
</html>
