<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEB2020Apr_P01_T4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar_style.css" />
</head>
<body>
    <header>
        @await Html.PartialAsync("_CustomerNav.cshtml")
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        </div>
    <!-- 1st row-->
    <div class="row">
        <div class="col-sm-12">
            <p style="padding: 2px 15px;">
                @{ 
                    string userId = "Anonymous";
                    string userRole = "Unknown";
                    string datetime = "";
                    if (Context.Session.GetString("LoginID") != null)
                    {
                        userId = Context.Session.GetString("LoginID");
                        datetime = Context.Session.GetString("Datetime");
                    }
                    if (Context.Session.GetString("Role") != null)
                    {
                        userRole = Context.Session.GetString("Role");
                    }
                }
                welcome,&nbsp; 
                <span style="font-weight:bold">@userId</span>&nbsp;
                You have logged in since @datetime
            </p>
        </div>
    </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - WEB2020Apr_P01_T4 - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
</body>
</html>
