@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<nav class="navbar navbar-expand-lg navbar-dark"
     style="background-color: #091540;">
    <a class="navbar-brand" href="~/Home/StaffMain">
        <img src="~/icons/logo 1.svg"
             width="60"
             height="60"
             class="d-inline-block align-top"
             alt="" />
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link lionair-navlink" href="~/Home/index">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link lionair-navlink" href="~/AirportCodes/Index">Airport Codes</a>
            </li>
            <li cla
            <li class="nav-item">
                <a class="nav-link lionair-navlink" asp-controller="FlightScheduling" asp-action="Index" >Flight Scheduling</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle lionair-navlink"
                   href="#"
                   id="navbarDropdownMenuLink"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Flight Personnel
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    @*<a asp-controller="Flight_Personnel" asp-action="Index">View Flight Personnel</a>*@
                    <a class="dropdown-item" href="~/FlightPersonnel/index">View Flight Personnel</a>
                    <a class="dropdown-item" href="#">Create Flight Personnel</a>
                    <a class="dropdown-item" href="#">Assign Personnel to Flight</a>
                    <a class="dropdown-item" href="#">Update Flight Personnel Status</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link lionair-navlink" href="~/AircraftAssignment/DisplayAircraft">Aircraft Assignment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link lionair-navlink" asp-controller="Login" asp-action="Logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
