@page
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="~/css/home.css">

    <title>About Us</title>
</head>


<body>
    <div class="box title">
        <h1>Welcome to Lion Air</h1>
    </div>



    <div class="box bookNow">


        <h1>Lion Air is here to make your destination dreams reachable</h1>


        <form>
            <div class="container-fluid">
                <div class="row">
                    <div class="col form-group">
                        <label for="destination">Destination</label>
                        <input type="text" class="form-control" id="destination" aria-describedby="destinationHelp">
                    </div>

                    <div class="col form-group">
                        <label for="fromDate">From</label>
                        <input type="date" class="form-control" id="fromDate" aria-describedby="fromHelp">
                    </div>

                    <div class="col form-group">
                        <label for="toDate">To</label>
                        <input type="date" class="form-control" id="toDate" aria-describedby="toHelp">
                    </div>

                    <div class="col form-group">
                        <label for="arrival">Arrival</label>
                        <input type="text" class="form-control" id="arrival" aria-describedby="arrivalHelp">
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-lg btn-block">Book Now</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div>
        <div class="red container-fluid">
            <div class="row">
                <div class="box stafftest col"></div>
                <div class="info col">
                    <div class="tm-background">
                        <h1 class="p-heading">Staff Testimontials</h1>
                        <p class="p-testimonials">
                            Working at Lion City Airline is a great pleasure for me. The thing I appreciate most about the company is that it has given me the opportunity to work in a pleasant multicultural environment with very nice colleagues. I am proud
                            to be part of Lion City Airlines. Jessie, Engineer
                        </p>
                        <p class="p-testimonials">I am very grateful for the opportunity Lion City Airline has given me to discover my hidden skills and gain experience in the industry. I am happy to work in a team. Isaac, Junior Engineer</p>
                        <p class="p-testimonials">
                            This company is absolutely people centric with its prime focus always on its human capital in every department. Together we work as a team to make Lion City Airlines a great company with strong core values. I have been fortunate
                            to have been surrounded by great individuals; some of whom really care about their jobs and are generous in sharing knowledge for the purpose of making the teams better. Jaaffar, Asst. Manager
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="blue container-fluid">
            <div class="row">
                <div class="info col">
                    <div class="tm-background">

                        <h1 class="p-heading">Customer Testimonials</h1>
                        <p class="p-testimonials">
                            I would like to thank you and many other Lion City Airline staff for helping me recover my luggage from customs. I found the Lion City Airlines staff to be very helpful, patient, kind, and efficient at all times. Regards, Joan
                            Nicell
                        </p>
                        <p class="p-testimonials">
                            It was great travelling with Lion City Airline!! I am taking a minute in my busy schedule to appreciate you people for the awesome service provided. And the special mention would be the punctuality and the hospitality. Thank you.
                            Dr. Pawan Yendapalli
                        </p>
                        <p class="p-testimonials">Lion City Airline has provided impeccable service. Their professional staff is fully commited to our safety and customer satisfaction. Gary W. Gosliga</p>
                    </div>

                </div>
                <div class="box customertest col"></div>
            </div>
        </div>

    </div>
    </div>



</body>