@page
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
 
<div class="container">
  <div class="row">
      <div class="col-8">
          <h1>Airport Information</h1>
          <input type="text" placeholder="Search..">
          <p> <strong>Name: Changi Airport</strong>  </p>
          <p> <strong>Phone: +65 1800 221 4444</strong></p>
          <p><strong>Website:</strong> <a href="#"> Paste website here  </a></p>
          <br />
          <h1>Location</h1>
          <p> <strong>Latitude: 45.453457</strong>  </p>
          <p> <strong>longitude: 45.453457</strong></p>
          <p><strong>Location: Aberdeen, South Dakota, United States</strong> <a href="#"></a></p>
          <p> <strong>Street_number: 4740</strong>  </p>
          <p> <strong>City: Aberdeen</strong>  </p>
          <p> <strong>State: South Dakota</strong>  </p>
          <p> <strong>Country: United States (US)</strong>  </p>
          <p> <strong>Postal_code: 57401</strong>  </p>
      </div>
    <div class="col-4">
        <img src="~/images/ApiFlight.jpg"  class="img-rounded" alt="Cinque Terre">
    </div>
  </div>
  </div>
</div>